body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(images/boxing-2.jpg);
    background-position: center;
    background-size: cover;
}


h1,h2 {
    text-align: center;
    color: #f9f3f3;
    font-family: "Press Start 2p";
}
h3{
    color: #fff;
}
.main-text{
    margin-bottom: 20px;
}

.box{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background-color: #0a1931;
    border-radius: 10px;
    text-align: center;
    border: 3px solid grey;
}
.form-control{
    position: relative;
    box-sizing: border-box;
    height: auto;
    margin-top: 20px;
    font-size: 16px;

}
.box .cent{
    text-align: left;
}
.blue {
    border: 2px solid blue;
}